<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/signup']" routerLinkActive="router-link-active"  >Criar conta</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="header">
      <h2>Entrar</h2>

    <img src="assets/img/blood.jpeg">
  </div>
  <form id="form" [formGroup]="credentials" (ngSubmit)="login()">
    <ion-item lines="none">
      <ion-input placeholder="Email" type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input placeholder="Senha" type="password" formControlName="password"></ion-input>
    </ion-item>
              <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors"> O email inserrido nao esta no formato correto</ion-note>
<br>
          <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors?.required"> Senha é obrigatória</ion-note>

    <ion-button [disabled]="!credentials.valid" expand="block" shape="round" type="submit">Entrar</ion-button>
  </form>
  <!-- <ion-button [routerLink]="['/signup']" routerLinkActive="router-link-active"  >Criar conta</ion-button> -->
</ion-content>
