<ion-header class="ion-no-border">
  <ion-toolbar>
<ion-buttons slot="start">
  <ion-button color="primary">
    <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
  </ion-button>
</ion-buttons>

<ion-back-button color="light" text="" [routerLink]="['/contacts']"></ion-back-button>

<ion-buttons slot="end">
  <ion-button [routerLink]="['/signup']" routerLinkActive="router-link-active"  >Criar conta</ion-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="header">

  <h1>Entrar</h1>
  <img src="assets/img/gima.png">


</div>



<form id="form">
  <app-input placeholder="Email" required></app-input>
  
  <app-input type="Password" placeholder="Senha"></app-input>
<ion-button  expand="block" shape="round">Entrar</ion-button>

</form>

</ion-content>
