<ion-header class="ion-no-border">
  <ion-toolbar>
<ion-buttons slot="start">
  <ion-button color="primary">
    <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
  </ion-button>
</ion-buttons>

<ion-buttons slot="end">
  <ion-button [routerLink]="['/login']" routerLinkActive="router-link-active"  >Log in</ion-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Criar usuário</h1>
  <!-- <img src="assets/logo.png"> -->






<form id="form">
  <app-input placeholder="Seu nome"></app-input>

  <app-input placeholder="Email"></app-input>
  <app-input type="Password" placeholder="Password"></app-input>
<ion-button [routerLink]="['/home']" routerLinkActive="router-link-active"   expand="block" shape="round">Registar</ion-button>

</form>

<p>Todos direitos reservados<br><strong>Blá Blá Blá Blá</strong></p>
</ion-content>
