.chips{
  display: flex;
  flex-direction: column;
  padding:10px;
  padding-top: 50px;

}


#form{
  .button{
    width: 80%;
    margin: auto;
  }

  ion-input{
    color: #000;
  }

  ion-chip{
    background-color: white;
    border: 0px solid;
    box-shadow: 0 0px 0px rgb(116 115 115 / 16%), 0 1px 0px rgb(121 120 120 / 12%);
}
  }

