<ion-content appUi [scrollEvents]="true" [fullscreen]="true">
  <div class="control ion-padding">
    <ion-buttons slot="start">
      <ion-button color="dark" [routerLink]="['/info']" routerLinkActive="router-link-active"
        id="trigger-button">
        <ion-icon name="list-outline"></ion-icon>      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button color="dark" [routerLink]="['/notifications']" routerLinkActive="router-link-active"
        id="trigger-button">
        <ion-icon slot="end" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
  <div class="header ion-padding ion-margin-top" style="display: flex; align-items: center">
    <ion-avatar class="ion-margin-start">
      <img src="../../assets/img/avatar.png" />
    </ion-avatar>
    <h2 style="margin-left: 10px">SupazScore</h2>
  </div>

  
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-1">
          <h3>Novidades</h3>
          <p >A União Desportiva de Songo reforçou hoje a liderança do campeonato moçambicano de futebol, ao vencer por 3-0 na visita ao Ferroviário de Nampula, em jogo da quinta jornada da competição.</p>
          <small>18.07.2022</small>
        </div>
      </div>
    </div>
  </div>
  



