<ion-content appUi [scrollEvents]="true" [fullscreen]="true">
  <div class="control ion-padding">
    <ion-buttons slot="start">
      <ion-button color="dark" [routerLink]="['/info']" routerLinkActive="router-link-active"
        id="trigger-button">
        <ion-icon name="list-outline"></ion-icon>      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button color="dark" [routerLink]="['/notifications']" routerLinkActive="router-link-active"
        id="trigger-button">
        <ion-icon slot="end" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
  <div class="header ion-padding ion-margin-top" style="display: flex; align-items: center">
    <ion-avatar class="ion-margin-start">
      <img src="assets/img/s.jpeg">
    </ion-avatar>
    <h2 style="margin-left: 10px">Blooapp</h2>
  </div>

  

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-1">
          <h6>Ver tabela classificatória</h6>
          <!-- <p >A União Desportiva de Songo reforçou hoje a liderança do campeonato moçambicano de futebol, ao vencer por 3-0 na visita ao Ferroviário de Nampula, em jogo da quinta jornada da competição.</p> -->
          <small>Primeiro lugar: <strong>Black Bulls</strong></small><br>  
          <small>Melhor Marcador: <strong>Issufo Valy</strong></small><br>
          <small>Melhor assistente: <strong>Issufo Valy</strong></small>
        </div>
      </div>
    </div>
  </div>

  
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
  



