<ion-header class="ion-no-border">
  <ion-toolbar>
 <ion-buttons slot="start">
      <ion-button color="" [routerLink]="['/home']" routerLinkActive="router-link-active"
        id="trigger-button">
        <ion-icon name="chevron-back-outline"></ion-icon>      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [routerLink]="['/form']" routerLinkActive="router-link-active">Adicionar Dados</ion-button>
  <div class="info" *ngIf="ver">
    <ion-item-sliding class=" customitem">
      <ion-item lines="none" >
        <ion-label>
          <h3 style="color: #5592d9">{{datas?.fullname}}</h3>
          <p>Tipo Sangúineo: {{datas?.bloodytype}}</p>
          <p>Contacto: {{datas?.contact}}</p>
          <p>Residencia: {{datas?.residence}}</p>
        </ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item-options [side]="right">
        <ion-item-option (click)="setOpen(true)">
          <ion-icon name="pencil"></ion-icon>
          Editar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>

  <!-- Modal -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Editar Informação</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <form id="form" [formGroup]="credentials" (ngSubmit)="updatePerfil(datas?.id)">
          <div class="chips">
            <ion-chip  color="danger">
              <ion-label ></ion-label>
              <ion-input type="text" formControlName="fullname" [(ngModel)]="residences.fullname"></ion-input>
            </ion-chip>
            <ion-list>
              <ion-chip color="danger">
                <ion-select formControlName="bloodytype" placeholder="Tipo Sanguíneo" >
                  <ion-select-option value="A">A+</ion-select-option>
                  <ion-select-option value="B+">B+</ion-select-option>
                  <ion-select-option value="AB+">AB+</ion-select-option>
                  <ion-select-option value="O+">O+</ion-select-option>
                  <ion-select-option value="A-">A-</ion-select-option>
                  <ion-select-option value="B">B-</ion-select-option>
                  <ion-select-option value="B-">AB-</ion-select-option>
                  <ion-select-option value="O-">O-</ion-select-option>
                </ion-select>
              </ion-chip>
            </ion-list>
            <ion-chip color="danger">
              <ion-label ></ion-label>
              <ion-input type="text" formControlName="residence" [(ngModel)]="residences.residence"></ion-input>
            </ion-chip>
            <ion-chip color="danger">
              <ion-label ></ion-label>
              <ion-input placeholder="Celular/Telefone"  type="text" formControlName="contact" [(ngModel)]="residences.contact"></ion-input>
            </ion-chip>
          </div>
          <ion-button [disabled]="!credentials.valid" expand="block" shape="round" type="submit">Submeter Formulário</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
